[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-flakes = "*"
pytest-isort = "*"
pytest-django = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest-pycodestyle = "*"
mypy = "*"
pytest-mypy = "*"

[packages]
django = "*"
pinject = "*"

[requires]
python_version = "3.7"
